#corpo {
  background-image: url(img/maisduas.jpg);
  background-size: cover;
}
#logoprincipal {
  width: 120px;
 margin-bottom:-10px;
 margin-top: -10px;
}

.navbar-brand {
  margin-right: 0px;
}

.col-lg-3.col-md-6{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  display: block;
}

.btn {
  font-size: 30px;
}

h1 {
  /* margin-left: 42%; */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
  font-family: 'Courier New', Courier, monospace ;
}

.card-img-top {
  width: "500";
  height: "225";
}

.card {
  height: 466px;
}

p.inicio{
  font-size: 25px;
  text-align: center; 
  font-family: 'Courier New', Courier, monospace ;
}

.bUm{
  display: block;
  margin: auto;
  font-family: 'Courier New', Courier, monospace ;
  border-radius: 20px;
}

/*CSS para a pagina do QUIZ*/

.container {
  display: flex;
  justify-content: center;
}

#game{
  width: 80vw;
}

h2#question {
  display: block;
  text-align: center;
  font-family: 'Courier New', Courier, monospace ;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  width: 40%;
  font-size: 32px;
  /* background-color: rgba(5, 80, 151, 0.815); */
}

.choice-container {
  display: block;
  font-family: 'Courier New', Courier, monospace ;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  width: 60%;
  font-size: 1.7rem;

  border-radius: 15px;
  /* background-color: rgba(5, 80, 151, 0.815); */
}

.choice-container:hover {
cursor: pointer;
box-shadow: 0 0.4rem 1.4rem 0 rgba(11, 133, 194, 0.849);
transform: translateY(-0.1rem);
transition: transform 150ms;
}

.choice-text {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin: auto;
  width: 60%;
}

#score {
  display: none; 
}

/*CSS para a pagina do QUIZ cards das respostas*/

#gb {
  position: absolute;
  z-index: 10;
  top: 100px;
  margin-left: 5vw;
  margin-right: 5vw;
  
}

/* Sobre nós */

.fotoSobre{
  border-radius: 100px;
  width: 150px;
  height: 150px;
}

#foto1{
  margin-top: 50px;
  margin-bottom: 150px;
  margin-right: 150px;
  float:left; 
 
}

#foto2{
  margin-top: 50px;
  margin-bottom: 150px;
  margin: auto;
  
}

#foto3{
  margin-top: 50px;
  margin-bottom: 150px;
  margin-right: 150px;
  float: right;
}