#corpo {
  background-image: url(img/maisduas.jpg);
  background-size: cover;
}
#logoprincipal {
  width: 120px;
 margin-bottom:-10px;
 margin-top: -10px;
}

.navbar-brand {
  margin-right: 0px;
}

.col-lg-3.col-md-6{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  display: block;
}

.btn {
  font-size: 30px;
}

h1 {
  /* margin-left: 42%; */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
  font-family: 'Courier New', Courier, monospace ;
}

.card-img-top {
  width: "500";
  height: "225";
}

.card {
  height: 466px;
}

p.inicio{
  font-size: 25px;
  text-align: center; 
  font-family: 'Courier New', Courier, monospace ;
}

.bUm{
  display: block;
  margin: auto;
  font-family: 'Courier New', Courier, monospace ;
  border-radius: 20px;
}
.bUm a {
  text-decoration: none;
  color: black;

}

.bUm:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 rgba(11, 133, 194, 0.849);
  transform: translateY(-0.1rem);
  transition: transform 150ms;
  font-style: normal;
}

/*CSS para a pagina do QUIZ*/

.container {
  display: flex;
  justify-content: center;
}

#game{
  width: 80vw;
}

h2#question {
  display: block;
  text-align: center;
  font-family: 'Courier New', Courier, monospace ;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  width: 40%;
  font-size: 32px;
  /* background-color: rgba(5, 80, 151, 0.815); */
}

.choice-container {
  display: block;
  font-family: 'Courier New', Courier, monospace ;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  width: 60%;
  font-size: 1.7rem;

  border-radius: 15px;
  /* background-color: rgba(5, 80, 151, 0.815); */
}

@media (hover: hover) and (pointer: fine) {
  .choice-container:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(11, 133, 194, 0.849);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
    }
}

@media (max-width: 1024px){
  .choice-container{
    box-shadow: 0 0.4rem 1.4rem 0 rgba(11, 133, 194, 0.849);
  }
}

#tituloTeste {
  text-align: center;
}

h2#question {
  margin: 0px;
  margin-bottom: 20px;
  text-align: center;
  width: auto;
}

.choice-container{
  margin: 0px;
  margin-bottom: 20px;
  text-align: center;
  width: auto;
}

.choice-text {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin: auto;
  width: 60%;
}

#score {
  display: none; 
}

/*CSS para a pagina do QUIZ cards das respostas*/

.rs {
  position: absolute;
  align-items: center;
  justify-content: center;
  z-index: 10;
  top: 15vh;
  margin-left: 30vw;
  /* margin-right: 5vw; */
  width: 40vw;
  height: 60vh;
}

#result{
  background-color: white;
  
}

#textoresultado {
  font-size: 12px;
}
.foto {
  display: inline-block;
}
#cifrao {
  margin-top: 1vh;
  font-size: 16px;
  text-align: center; 
  font-family: 'Courier New', Courier, monospace ;
  background-color: rgba(5, 80, 151, 0.815);
  padding: 3px;
  
}
#versite a {
  color: black;
  text-decoration: none;
}
#versite {
  background-color: rgba(236, 225, 62, 0.945);
  font-size: 18px;
  font-style: normal;
  
  
}
#versite:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 rgba(11, 133, 194, 0.849);
  transform: translateY(-0.1rem);
  transition: transform 150ms;
  font-style: normal;
}

/* Sobre nós */

.textoProjeto{
  box-sizing: border-box;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}

#textSn{
  font-size: 25px;
  line-height: 50px;
  font-family: 'Courier New', Courier, monospace;
  
}

#text2{
  font-size: 25px;
  line-height: 50px;
  font-family: 'Courier New', Courier, monospace;
}

#text3{
  font-size: 25px;
  line-height: 50px;
  font-family: 'Courier New', Courier, monospace;
}